.post-card-body {
    padding: 0.3em 0.6em;
}

.post-card-title {
    margin: 0;
}

.post-card-date {
    font-size: 12px;
}

.card-link {
    flex: 1;
    margin: 0 0.3em 0 0.3em;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}